# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Django
*.sqlite3
db.sqlite3
media/
staticfiles/
*.ctl
*.pid
*.sock
# Virtualenv
venv/
env/
ENV/

# Env files
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Docker
*.pid